<link type='text/css' rel='stylesheet' href='/stylesheet.css'/>
<center>
<p> <%= @game.player.name %> vs. Computer </p>
<%= @game.player.name %> chooses <%= @game.player_choice %> <br/>
<br/>
  Computer chooses <%= @game.computer.computer_choice%>
<div id="winner">
<p> <%= @game.winner %> </p>
</div>
<form action="/play-again" method="post">
<button> play again? </button>
</form>
score <%= @game.player.score %>
</center>

